* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #458FF6;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/*------Header-------*/
.header {
    background-color: var(--main-color);
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 72px;
    display: flex;
    align-items: center;
}

@media (max-width: 450px) {
    .logo {
        padding-left: 20px;
    }
}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: white;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
}

@media (max-width:440px) {
    .header .main-nav>li>a {
        font-size: 15px;
    }

    .logo {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .header .active3 {
        display: none;
    }
}

.header .main-nav>li>a:hover {
    background-color: var(--main-color-alt);
}

/*------End Header-------*/

/*-------landing-------*/

.landing {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 130px;
}

.landing .text h3 {
    font-size: 38px;
    width: 550px;
    margin: auto;
    color: var(--main-color);
    margin-bottom: 20px;
}

@media (max-width: 650px) {
    .landing .text h3 {
        font-size: 25px;
        width: 400px;
    }
}

@media (max-width: 600px) {
    .landing .text h3 {
        font-size: 25px;
        width: 350px;
    }
}

/* @media (max-width: 550px) {
    .landing .text h3 {
        font-size: 25px;
    }
} */

@media (max-width: 430px) {
    .landing .text h3 {
        font-size: 20px;
        width: 250px;
    }

    .landing .text p {
        font-size: 10px;
    }
}

.landing .text h3:hover {
    color: var(--main-color-alt);
}

.landing .text p {
    color: #777;
    margin-bottom: 60px;
}

.landing .input {
    padding-left: 10px;
}

.landing input:focus {
    outline-color: var(--main-color);
}

.landing input {
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 5px;
}

.landing .input .btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 11px 23px;
    cursor: pointer;
    border-radius: 4px;
}

.landing .input .btn:hover {
    background-color: var(--main-color-alt);
    outline: none;
}

.landing .input .btn {
    margin-top: 25px;
}

/* @media (max-width: 1200px) {
    .landing .input .btn {
        margin-top: 25px;
    }
} */

@media (max-width: 991px) {
    .landing .input .btn {
        width: fit-content;
        margin: auto;
        margin-top: 30px;
        display: block;
    }
}




/*------boxes----------*/

.alldoctors {
    padding-top: 80px;
    padding-bottom: 20px;
    position: relative;
    background-color: #eee;
}

.alldoctors .box {
    padding: 20px 40px 30px 40px;
    background-color: white;
    position: relative;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media (max-width: 1200px) {
    .alldoctors .box {
        padding: 20px 30px 70px 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    }
}

@media (max-width: 460px) {
    .alldoctors .box {
        padding: 20px 10px 60px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.alldoctors .box .col {
    margin-bottom: 30px;
}

.alldoctors .box .col .nam {
    display: flex;
}

.alldoctors .box .nam h3 {
    margin: 20px 25px 30px 0;
    color: var(--main-color);
    font-size: 25px;
}

.alldoctors .box .col .nam i {
    font-size: 25px;
    color: var(--main-color);
    margin: 23px 0 30px;
}

@media (max-width: 420px) {
    .alldoctors .box .col .nam h3 {
        font-size: 20px;
    }
}

@media (max-width: 365px) {
    .alldoctors .box .col .nam h3 {
        margin: 20px 15px 30px 0;
    }
}

.alldoctors .box img {
    position: absolute;
    top: -50px;
    right: -10px;
    border: 10px solid #eee;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}



.alldoctors .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}

.alldoctors .box .rate {
    margin: 20px 0;
}

.alldoctors .box .rate .filled {
    color: #ffc107;
}

.alldoctors .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}

.alldoctors .box ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.alldoctors .box ul li i {
    padding-top: 10px;
    margin-right: 10px;
}

.appointment {
    text-align: center;
}

.time input {
    padding: 5px;
    border: 1px solid var(--main-color);
}

.appointment h2 {
    color: var(--main-color);
    margin-bottom: 50px;
}

@media (max-width: 345px) {
    .alldoctors .col h3 {
        font-size: 18px;
    }

    .appointment h2 {
        font-size: 10px;
    }

    .alldoctors .col ul li p {
        font-size: 13px;
    }

    .alldoctors .col .title {
        font-size: 13px;
    }

    .alldoctors .col ul p.active1 {
        padding-top: 0;
    }

    .alldoctors .box img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1150px) {
    .alldoctors .box .col {
        margin-bottom: 0px;
    }

}

@media (max-width: 991px) {
    .appointment h2 {
        margin-bottom: 25px;
        padding-right: 20px;
    }

    .appointment h2 {
        padding-right: 0px;
        margin-bottom: 35px;
    }

    .time {
        margin-bottom: 30px;
    }

    .alldoctors .col ul {
        padding-left: 10px;
        margin-bottom: 10px;
    }

}

@media (max-width: 500px) {
    .alldoctors .col {
        text-align: initial;
    }

    .alldoctors .col ul {
        padding-left: 0px;
    }
}

@media (max-width: 595px) {
    .alldoctors .col ul li p {
        font-size: 15px;
    }

    .alldoctors .col ul p.active1 {
        padding-top: 25px;
    }
}

@media (max-width: 465px) {
    .alldoctors .col ul li p {
        font-size: 13px;
    }

    .alldoctors .col .title {
        font-size: 10px;
    }

    .alldoctors .col ul {
        width: 80%;
    }

    .appointment {
        width: 90%;
    }

    .appointment {
        font-size: 15px;
    }
}




.alldoctors .box .btn {
    background-color: var(--main-color);
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
    border: none;
    width: 120px;
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translate(-50%, -50%);
}

.alldoctors .box .btn:hover {
    background-color: var(--main-color-alt);
    cursor: pointer;
}


/*------------------*/
/*------------------*/

.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 50px;
    z-index: 2000;
}

.popup-box h1 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 30px;
    color: var(--main-color);
}

.popup-box p {
    color: #777;
    text-align: center;
}

@media (max-width: 450px) {
    .popup-box h1 {
        font-size: 23px;
    }

    .popup-box p {
        font-size: 15px;
    }
}

.popup-box h2 {
    font-weight: bold;
    text-align: center;
    margin: 40px 0 30px;
    color: var(--main-color);
}

.popup-box input,
.popup-box textarea {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 22px;
}

@media (max-width: 400px) {

    .popup-box input,
    .popup-box textarea {
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        margin-left: 13px;
        width: 170px;
    }
}

.popup-box input:focus,
.popup-box textarea:focus {
    outline-color: var(--main-color);
}

.popup-box textarea {
    padding: 30px 12px;
}

.popup-box .icon {
    font-size: 40px;
    color: var(--main-color);
    margin-right: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
    display: block;
}

.popup-box .link {
    background-color: var(--main-color);
    padding: 5px 30px;
    color: white;
    margin-left: 100px;
}

@media (max-width:400px) {
    .popup-box .icon {
        font-size: 35px;
        margin-left: 68px;
    }

    .popup-box .link {
        margin-left: 45px;
    }
}

@media (max-width:375px) {
    .popup-box .icon {
        font-size: 35px;
        margin-left: 70px;
    }

    .popup-box .link {
        margin-left: 45px;
    }
}

.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
    border-radius: 50%;
}

.popup-box .active2 {
    border: none;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: fit-content;
    width: 100px;
    border-radius: 30px;
    margin: auto;
    cursor: pointer;
}

.popup-box .active2 .popup-box .active2:hover {
    cursor: pointer;
    background-color: var(--main-color-alt);
}


/*----footer----*/

.footer {
    background-color: #2d3744;
    padding: 50px 0 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-left: 120px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box h3:hover {
    color: var(--main-color);
}

.footer .box .social {
    display: flex;
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0, 3s
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0;
    transition: 0.3s;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: 0.3s;
    font-size: 16px;
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
    padding-left: 40px;
}

.footer .box .line:hover {
    color: white;
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

@media (max-width: 991px) {
    .footer .container {
        padding: 40px;
    }

    .footer .box .line {
        padding: 0;
    }
}

@media (max-width: 636px) {
    .footer .container {
        padding-left: 230px;
    }
}

@media (max-width: 615px) {
    .footer .container {
        padding-left: 200px;
    }
}

@media (max-width: 540px) {
    .footer .container {
        padding-left: 150px;
    }
}

@media (max-width: 480px) {
    .footer .container {
        padding-left: 140px;
    }
}

@media (max-width: 465px) {
    .footer .container {
        padding-left: 130px;
    }
}

@media (max-width: 450px) {
    .footer .container {
        padding-left: 113px;
    }
}

@media (max-width: 375px) {
    .footer .container {
        padding-left: 85px;
    }
}

/* @media (max-width: 375px) {
    .footer .container {
        padding-left: 130px;
    }
} */